.portfolio-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: black;
  color: white;
}

.portfolio-navbar nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.portfolio-navbar nav a:hover {
  color: #a855f7;
}

/* HERO */
.portfolio-hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #000, #1f1f1f);
  color: white;
  text-align: center;
}

/* FOOTER */
.portfolio-footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}