/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN FIX */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* REMOVE VITE CENTERING */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f1f5f9;
  overflow: hidden; /* prevents double scroll */
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON RESET */
button {
  font-family: inherit;
  cursor: pointer;
}