/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN FIX */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* GLOBAL BODY */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f1f5f9;
  overflow-x: hidden;   /* only block sideways scroll */
  overflow-y: auto;     /* allow vertical scroll */
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON RESET */
button {
  font-family: inherit;
  cursor: pointer;
}